<div class="publications">
  {% comment %}
  Bibliography feature disabled - jekyll-scholar not supported by GitHub Pages
  To enable, use GitHub Actions for building
{% endcomment %}
<p><em>Selected papers feature requires jekyll-scholar, which is not supported by GitHub Pages. Use GitHub Actions to enable this feature.</em></p>
</div>
